<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{products.main.title}">This</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text="#{products.main.title}" />

	<a th:href="@{/products/add}" th:text="#{add.label}">Add</a>
	<!-- <form id="product-form"> -->
	<table class="productstable">
		<thead>
			<tr>
				<th th:text="#{product.id}">Product Id</th>
				<th th:text="#{product.name}">Product Name</th>
				<th th:text="#{delete.label}">Delete</th>
			</tr>
		</thead>
		<tr th:each="prod:${products}">
			<td>
				<a th:href="@{/products/modify(productId=${prod.productId})}"
					th:text="${prod.productId}">
				</a>
			</td>
			<td th:text="${prod.productName}"></td>
			<td> <a th:href="@{/products/delete(productId=${prod.productId})}">Delete</a>
			</td>
		</tr>
	</table>
	<!-- </form> -->

</body>
</html>
